*.class
pom.xml.versionsBackup
derby.log
# Package Files #
*.jar
*.war
*.ear
nbactions.xml
/target/
/testutils/target/
/testhelpers/target/
/core/target/
/core-sync-ejb/target/
/core-async-ejb/target/
/persistence-jpa/target/
/persistence-jpa-ejb/target/
/serial-gson/target/
/serial-gson-ejb/target/
